body {
    font-family: 'arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
.container {
    max-width: 800px;
    margin: auto;
    overflow: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
form {
     margin: 20px 0;
}
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    background: #0056b3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;  
}
button:hover{
    background: #004494;
}
@media (max-width: 700px) {
    .container {
        padding: 0 10px;
    }    
}
